{% extends 'base.html.twig' %}

{% block title %}{{ advert.title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ advert.title }}! ✅</h1>
    {%if app.user == advert.userRegister %}
    <a href="/advert/{{ advert.id }}/delete"><button>Supprimer</button></a>
    {%endif%}
</div>
<div class="example-wrapper">
    <a href="/advert"><button>Voir les annonces</button></a>
</div>
<<<<<<< Updated upstream
=======
<div class="example-wrapper">
    {{ include('question/index.html.twig') }}
</div>

{%if app.user%}
<div class="example-wrapper">
    {{ form(questionForm) }}
</div>
{%endif%}
>>>>>>> Stashed changes
{% endblock %}
